@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    --dark: #212529;
    --light: #FFFFFF;
    --light-gray: #DEE2E6;
    --gray: #9B9B9B;
    --dark-gray: #474747;
    --blue: #4054a5;
    --radius: 8px;
    --shadow: 0 0 transparent, 0 0 transparent, 0 20px 30px -16px rgba(9,9,16,0.2);
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.bar {
    display: flex;
    align-items: center;
    padding: 5px;
    height: 44px;
    font-size: 1.1rem;
    margin: 0;
}

a {
    color: var(--blue);
}

/* 
nav.hbs 
*/
#nav {
    background: var(--dark);
    border-bottom: 3px solid var(--dark-gray);
}

#nav-branding-container {
    top: 8px;
    left: 13px;
    padding: 8px;
    height: 70px;
    width: 130px;
    position: absolute;
    transition: .2s all ease-in-out;
    color: var(--light-gray);
    background: black;
    border-radius: var(--radius);
    border: 3px solid var(--dark-gray);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#nav-branding-container:hover {
    background: white;
    color: var(--dark-gray);
    border: 3px solid var(--light-gray);
}

#nav-branding-container > * {
    padding-left: 4px;
}

#nav-branding-text {
    flex: 1;
}

#nav-branding-container img {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav-link-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 11rem;
}

#nav * {
    text-decoration: none;
}

#nav .nav-link {
    color: var(--gray);
    text-decoration: none;
    transition: all .2s ease-in-out;
}

#nav .nav-link:hover {
    color: var(--light-gray);
}

#nav #nav-title {
    color: var(--light);
}

#nav #nav-left > * {
    margin: 0 9px;
}

/*
banner.hbs
 */
#banner {
    background: var(--light-gray);
    box-shadow: var(--shadow);
    justify-content: center;
    color: var(--dark-gray);
}

/*
index.hbs
 */
#base-container {
    padding: 16px 8px;
}

#posts-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 900px;
    padding: 22px;
    margin: auto;
    box-shadow: 0 0 transparent, 0 0 transparent, 0 20px 30px -16px rgba(9,9,16,0.2);
}