@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap');

:root {
    --dark: rgb(6, 5, 12);
    --light: rgb(255, 255, 255);
    --light-gray: rgb(162, 163, 165);
    --gray: rgb(155, 155, 155);
    --dark-gray: rgba(28, 28, 28, 0.85);
    --blue: rgb(79, 112, 194);
    --red: rgb(180, 79, 65);
    --code-green: rgb(165, 194, 97);
    --code-cyan: rgb(97, 214, 214);
    --code-yellow: rgb(249, 241, 165);
    --code-gray: rgb(96, 96, 96);
    --radius: 4px;
    --bar-height: 40px;
    --shadow: 0 0 transparent, 0 0 transparent, 0 2px 62px -16px rgba(9,9,16,0.2);
    --smooth: .2s all ease-in-out;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

#base-container {
    margin-bottom: 3rem;
}

h1, h2, h3, h4 {
    font-weight: 400;
}

pre {
    background: var(--dark);
    color: var(--light);
    display: flex;
    font-size: 1rem;
    padding: 0 11px 16px 11px;
    border-radius: var(--radius);
    margin: auto;
    white-space: pre-line;
}

.hl {
    background: rgba(162, 163, 165, 0.4);
    border-radius: var(--radius);
    color: var(--blue);
    padding: 1px 5px;
}

.code-yellow {
    color: var(--code-yellow);
}

.code-cyan {
    color: var(--code-cyan);
}

.code-gray {
    color: var(--code-gray);
}

/* Shared class for the two 'bars' in the navigation. */
.bar {
    display: flex;
    align-items: center;
    padding: 5px;
    height: var(--bar-height);
    font-size: 1rem;
    margin: 0;
}

a {
    color: var(--blue);
}

/* 
nav.hbs 
*/
#nav {
    background: var(--dark);
}

#nav * {
    margin: 0 9px;
}

#branding {
    top: 9px;
    left: 10px;
    padding: 8px;
    height: 65px;
    width: 180px;
    position: absolute;
    transition: var(--smooth);
    color: var(--light-gray);
    background: #111111;
    border-radius: var(--radius);
    box-shadow: var(--shadow);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#branding:hover #branding-text {
    color: var(--light);
}

#branding * {
    padding-left: 4px;
}

#branding-text {
    color: var(--gray);
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: var(--smooth);
}

#branding img {
    height: 37px;
    width: 37px;
    display: flex;
    margin-right: 0;
    align-items: center;
    justify-content: center;
}

#nav-title {
    color: var(--light);
}

#links {
    display: flex;
    align-items: center;
    padding: 0 14rem;
}

.link {
    color: var(--gray);
    margin-right: 14px;
    text-decoration: none;
    transition: all .2s ease-in-out;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.link:hover {
    color: var(--light);
}

/*
banner.hbs
 */
#banner {
    background: var(--dark-gray);
    box-shadow: var(--shadow);
    color: var(--light-gray);
    justify-content: center;
}

/*
index.hbs
 */
section {
    box-shadow: var(--shadow);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto 2rem auto;
    min-width: 300px;
    max-width: 1240px;
    padding: 22px;
}

.section-title {
    text-align: center;
    margin-bottom: 0;
}

.section-subtitle {
    margin-top: 4px;
    text-align: center;
}

#welcome {
    display: flex;
    justify-content: center;
    padding: 3rem;
    align-items: center;
    flex-direction: column;
}

#welcome h1 {
    margin: 0;
    letter-spacing: 2px;
    font-size: 52px;
}

#welcome img {
    height: 90px;
    width: 90px;
}

.guide {
    padding: 2px;
}

.guide:last-of-type {
    margin: 0;
}

/*
detail.hbs
 */
.detail {
    width: 80%;
    max-width: 1000px;
    margin: auto;
}

.detail h2 {
    margin: 42px 0 2px 0;
}

.detail h4 {
    margin-top: 2px;
    color: var(--light-gray);
}