@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap');

:root {
    --dark: #212529;
    --light: #FFFFFF;
    --light-gray: #DEE2E6;
    --dark-gray: #9B9B9B;
    --cyan: #61D6D6;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

/* 
nav.hbs 
*/
#nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--dark);
    padding: 8px;
    height: 44px;
    margin: 0;
}

#nav > div {
    flex: 1;
}

#nav * {
    text-decoration: none;
}

.nav-link {
    color: var(--light-gray);
    text-decoration: none;
}

#nav-title {
    color: var(--light);
}
/* 
/nav.hbs 
*/