{{> header }}
<div class="index-container">
    <div class="widget" id="posts">
        <div id="posts-container">
            {{#each posts}}
                <a href="{{ path }}">{{ title }}</a>
                <p>{{ description }}</p>
            {{/each}}
        </div>
    </div>
</div>
{{> footer }}