{{> header }}

<div class="index-container">
    <div id="welcome">
        <h1>Dagger</h1>
        <h2>Static Site Generator</h2>
        <img src="/public/images/dagger.png" alt="Dagger logo">
    </div>
    <section>
        <div id="guides">
            <div class="section-header">
                <h2 class="section-title">Guides</h2>
                <p class="section-subtitle">Brief discussions on the various parts of a Dagger project.</p>
            </div>
            {{#each guides}}
                <div class="guide">
                    <a href="{{ path }}">{{ title }}</a>
                    <p>{{path}}</p>
                    <p>{{ description }}</p>
                </div>
            {{/each}}
        </div>
    </section>
    <section>
        <div id="in-depth">
            <h2 class="section-title">Technical Manuals</h2>
            <p class="section-subtitle">More detailed information for those interested in contributing to or forking Dagger for themselves!</p>
            <pre>
                <code>
                    throw new NotImplementedException("Dagger isn't totally stable yet. Coming soon!");
                </code>
            </pre>
        </div>
    </section>
</div>

{{> footer }}