{{> header }}
<div class="index-container">
    <div class="widget" id="posts">
        <div id="posts-container">
            {{#each posts}}
                <div class="post">
                    <a href="{{ path }}">{{ title }}</a>
                    <p>{{ description }}</p>
                </div>
            {{/each}}
        </div>
    </div>
</div>
{{> footer }}