<nav id="nav" class="bar">
    <div id="nav-branding-container">
        <img src="/public/images/dagger.png" alt="Dagger logo.">
        <p id="nav-branding-text">Dagger</p>
    </div>
    <div id="nav-link-container">
        <a class="nav-link" href="https://github.com/jokocide/dagger" target="_blank">
            Github
        </a>
    </div>
</nav>
