<nav id="nav">
    <div id="nav-left">
        <img src="/public/images/dagger.png" alt="Dagger logo.">
        <a class="nav-link" href="https://github.com/jokocide/dagger" target="_blank">
            <i class="fab fa-github-alt"></i>
        </a>
    </div>
    <div id="nav-center">
    </div>
    <div id="nav-right">
    </div>
</nav>