<nav id="nav">
    <div id="nav-1">
    </div>
    <div id="nav-2">
        <a id="name" href="/">Jokoci.de</a>
        <a href="mailto:jokobox@outlook.com">Mail</a>
        <a href="https://github.com/jokocide" target="_blank">Github</a>
        <a id="axe" href="https://github.com/jokocide/AXE" target="_blank">🪓</a>
    </div>
    <div id="nav-2">
    </div>
</nav>