<nav id="nav">
    <div id="nav-1">
    </div>
    <div id="nav-2">
        <a id="name" href="/">Dagger</a>
        <a href="https://github.com/jokocide/dagger" target="_blank">
            <i class="fab fa-github-alt"></i>
        </a>
    </div>
    <div id="nav-2">
    </div>
</nav>