<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Favicon -->
    <link rel="shortcut icon" href="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/160/microsoft/209/dagger-knife_1f5e1.png" />
    
    <!-- CSS -->
    <link rel="stylesheet" href="/public/css/main.css" />
    
    <!-- Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8" />

    <title>Dagger</title>
</head>
<body>

    <div class="nav-container">
<nav id="nav" class="bar">
    <div id="branding">
        <img src="/public/images/dagger.png" alt="Dagger logo.">
        <p id="branding-text">Dagger</p>
    </div>
    <div id="links">
        <a class="link" href="https://github.com/jokocide/dagger" target="_blank">
            Github
        </a>
        <a class="link" href="https://www.nuget.org/packages/Jokocide.Dagger/" target="_blank">
            NuGet
        </a>
    </div>
</nav>
<div id="banner" class="bar">
    <p>Submit issues and improvements over <a href="https://github.com/jokocide/dagger/issues/new" target="_blank">here!</a></p>
</div>    </div>

    <div id="base-container">
<div class='detail'>
    <h2>Templates</h2>
    <h4>2021-08-02</h4>
    <p>By default, Dagger projects are using a templating system known as <a href="https://handlebarsjs.com/">Handlebars</a>.
Handlebars is a templating language that was originally developed for use on Node.js and extends
<a href="https://mustache.github.io/">Mustache</a>, a templating language written in Ruby.</p>
<p>If you aren't familiar with Handlebars, I recommend reading over the official
<a href="https://handlebarsjs.com/guide/">documentation</a> first, and keep in mind that any tutorials on
Handlebars you find should apply to your Dagger project templates. Dagger makes use of <a href="https://github.com/Handlebars-Net/Handlebars.Net">Handlebars.Net</a>
which provides a very similar API to the original Node.js library.</p>
<p>With a basic understanding of Handlebars, diving in and modifying the template files is the next step.
The Handlebars documentation provides the large majority of necessary information, but you can also refer to
the Handlebars.Net documentation for examples specific to C# &amp; .NET.</p>
<h2>Comments</h2>
<p>Handlebars defines a <a href="https://handlebarsjs.com/guide/#template-comments">syntax</a> for comments. The Handlebars
documentation also goes on to state that HTML comments are not supported, however Handlebars.Net seems to accept HTML
comments within Handlebars templates, so they are acceptable in a Dagger project.</p>
<h2>Inheritance</h2>
<p>If you are familiar with Jinja2 from Python you might be looking for a block layouts feature, but Handlebars
supports no such thing. What it does support is the concept of <a href="https://handlebarsjs.com/guide/#partials">partials</a>.
To see an example of partials being used in a Dagger project, refer to the document located
at <span class="hl">project/resources/pages/index.hbs</span> within the Dagger example project.</p>
<p>The <span class="hl">{{&gt; header }}</span> and <span class="hl">{{&gt; footer }}</span> tags at the top and bottom refer to partials that exist within the
<span class="hl">project/resources/templates/partials</span> directory. When building a site, Dagger is made aware of any existing partial files
within this directory and makes them available for use in your other templates.</p>
<h2>Looping on Collections</h2>
<p>Collections are made available for iteration by the name of the directory that they exist in, and looping over a collection
puts you in the scope of the files themselves, with access to all of the frontmatter and the transformed HTML body of the file
accessible through a <span class="hl">{{ body }}</span> tag. To see an example of this, refer to the document at <span class="hl">project/resources/templates/detail.hbs</span>,
which is a template file dedicated to displaying files from the guides collection in detail.</p>
<h2>Going Forward</h2>
<p>Dagger is intended to ship with a variety of options for templating, including a templating engine designed specifically for Dagger,
but these features have no release date and Handlebars is currently the only available option for templating.</p>

</div>

    </div>

    <script src="/public/js/main.js"></script>
</body>
</html>