{{> header }}
<div class="index-container">
    <div class="widget" id="posts">
        <h1 class="section-title">Recent</h1>
        <div id="posts-container">
            {{#each posts}}
                <h1>{{ title }}</h1>
                <p>{{ description }}</p>
            {{/each}}
        </div>
    </div>
</div>
{{> footer }}