@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    --dark: rgb(6, 5, 12);
    --light: rgb(255, 255, 255);
    --light-gray: rgb(222, 226, 230);
    --gray: rgb(155, 155, 155);
    --dark-gray: rgba(45, 42, 42, 0.95);
    --blue: #4f70c2;
    --radius: 4px;
    --bar-height: 40px;
    --shadow: 0 0 transparent, 0 0 transparent, 0 20px 30px -16px rgba(9,9,16,0.2);
    --smooth: .2s all ease-in-out;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

/* Shared class for the two 'bars' in the navigation. */
.bar {
    display: flex;
    align-items: center;
    padding: 5px;
    height: var(--bar-height);
    font-size: 1rem;
    margin: 0;
}

a {
    color: var(--blue);
}

/* 
nav.hbs 
*/
#nav {
    background: var(--dark);
}

#nav * {
    margin: 0 9px;
}

#branding {
    top: 9px;
    left: 10px;
    padding: 8px;
    height: 65px;
    width: 180px;
    position: absolute;
    transition: var(--smooth);
    color: var(--light-gray);
    background: #111111;
    border-radius: var(--radius);
    box-shadow: var(--shadow);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#branding:hover #branding-text {
    color: var(--light);
}

#branding * {
    padding-left: 4px;
}

#branding-text {
    color: var(--gray);
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: var(--smooth);
}

#branding img {
    height: 37px;
    width: 37px;
    display: flex;
    margin-right: 0;
    align-items: center;
    justify-content: center;
}

#nav-title {
    color: var(--light);
}

#links {
    display: flex;
    align-items: center;
    padding: 0 14rem;
}

.link {
    color: var(--gray);
    margin-right: 14px;
    text-decoration: none;
    transition: all .2s ease-in-out;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.link:hover {
    color: var(--light);
}

/*
banner.hbs
 */
#banner {
    background: var(--dark-gray);
    color: var(--light-gray);
    box-shadow: var(--shadow);
    justify-content: center;
}

/*
index.hbs
 */
#base-container {
    padding: 16px 8px;
}

#guides {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    min-width: 300px;
    max-width: 1000px;
    padding: 22px;
    box-shadow: var(--shadow);
}

.guide {
    padding: 22px;
    margin: 0 0 2rem 0;
}

.guide:last-of-type {
    margin: 0;
}